.footer {
    
}
.footer__nav {
    background-color: var(--colorRojo);
    border-radius: 5%;
    margin: 20px auto;
}

.footer__nav ul{
    text-align: center;
}

.footer__nav ul li {
    border-bottom: 1px solid #FFF;
    padding: 10px 0;
}

.footer__nav ul li a {
    color: #FFF;
    font-weight: 700;
}
