:root{
    --colorRojo: #b81e14 ;
    --colorGris: #9d9c97 ;
    --colorGrisOscuro: #444444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Archivo', sans-serif;
    background-image: url('/images/bg-body.png');
    margin: 0 auto;
}

img{
    width: 100%;
}

ul{
    margin: 0;
    padding: 0;
}