header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.container-icons a {
    color: var(--colorGrisOscuro);
}

.container-icons a:hover {
    color: var(--colorRojo);
}

.container-icons i {
    font-size: 1rem;
    margin: 0 2vw;
}

#header__logo {
    border-radius: 50%;
    margin: 2% 0;
    width: 50%;
    border: 1px solid #000;
    animation: sun-rise 0.1s 2;
}

.fa-bars {
    padding: 10px;
    background-color: var(--colorGrisOscuro);
    color: #FFF;
    margin: 10px 0;
    animation: sun-rise 4s infinite;
}

.header__nav {
    display: none;
}

@keyframes sun-rise {
    0% {
        /* pushes the sun down past the viewport */
        /*transform: translateX(60%);
      z-index: 5;*/
        opacity: 5%;
    }

    25% {
        /* returns the sun to its default position */
        /*transform: translateX(-60%);
        z-index: 5;*/
        opacity: 100%;
    }

    100% {
        /* returns the sun to its default position */
        /*transform: translateX(-60%);
        z-index: 5;*/
        opacity: 5%;
    }
}

/* media para tablet */

@media(min-width: 768px) {

    .container-icons i {
        font-size: 2rem;
    }

    .header__bars {
        display: none;
    }

    .header__nav {
        margin: 2vh 0;
        display: block;
        width: 100%;
    }

    .header__nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav ul li {
        padding: 10px;
        background-color: var(--colorGrisOscuro);
    }

    .header__nav ul li:hover {
        background-color: var(--colorRojo);
    }

    .header__nav ul li a {
        color: #FFF;
        text-transform: uppercase;
    }

}

@media(min-width:1024px) {
    #header__logo {
        width: 45%;
    }
}