@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@100&family=Tilt+Neon&display=swap');
@import './general.css';
@import'./header.css';
@import'./footer.css';
@import'./home.css';
@import'./dashboard.css';
@import'./detail.css';
@import'./createProducts.css';
@import'./login.css';
@import'./register.css';